@import '../../../variables'

.genre-button
  height: 2.2rem
  min-width: 6.2rem
  font-size: 1rem
  border: none
  border-radius: 1rem
  margin: 0 .5rem 0 .5rem
  box-shadow: 0px 10px 10px transparentize($black, .6)
  background: $darkBlue
  color: $white
  font-weight: 600
  transition: all .7s
  cursor: pointer
  &:hover, &.active
    transform: scale(1.05)
    background: $mainGray
    color: $darkBlue
