@import '../../../media-queries-mixins'
@import '../../../Animations/animations'
@import '../../../variables'

.single-movie
  width: 92%
  height: 25rem
  background: $darkBlue
  opacity: .8
  position: relative
  overflow: hidden
  border-radius: 2.5rem
  box-shadow: 0px 10px 10px transparentize($black, 0.4)
  transition: transform .5s, opacity .5s
  margin: auto
  +tablet-large
    height: 22rem!important
    width: 95%
  &:hover
    cursor: pointer
    transform: translateY(-5px)
    opacity: 1
    &> .overview
      transform: translateY(0)
      animation: opacity-late .4s ease-in-out 0s 1 alternate both
    .movie-img
      filter: brightness(30%)
  .movie-img-wrapper
    height: 70%
    +tablet-large
      height: 60%
    +tablet-small
      height: 65%
  .movie-img
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center
    transition: filter .6s
  .overview
    position: absolute
    bottom: calc(3/10 * 100%)
    color: $white
    padding: 0 1rem 1.5rem 1rem
    text-align: center
    transition: transform .5s
    opacity: 0
    transform: translateY(100%)
    +tablet-small
      bottom: calc(3.5/10 * 100%)
      padding: 0 .1rem 1rem .1rem
    +tablet-large
      bottom: calc(4/10 * 100%)
      padding: 0 .1rem 1rem .1rem
  .title, .release
    color: $white
    padding: .4rem
    text-align: center
  .title
    height: 3.5rem
    overflow: hidden
    .animated
      animation: toUp 3s linear 1s infinite
  .release
    font-size: .8rem
  .movie-info
    height: 30%
    display: flex
    flex-direction: column
    justify-content: space-between
    padding: .5rem 0 1rem 0
    +tablet-large
      height: 40%
    +tablet-small
      height: 35%
