@import '../../../media-queries-mixins'
@import '../../../Animations/animations'
@import '../../../variables'

.search-form
  height: 3rem
  background: $mainGray
  display: flex
  align-items: center
  justify-content: center
  padding: 0 .7rem 0 2rem
  border-radius: 2rem
  box-shadow: 0px 10px 10px transparentize($black, .4)
  &:focus-within
    animation: shadow .7s ease-in-out 0s infinite alternate both
  input
    width: 25rem
    border: none
    background: transparent
    outline: none
    color: $darkBlue
    font-size: 1.4rem
    +phone
      width: 15rem
  ::placeholder
    color: $darkBlue
    opacity: .7
